<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <script src="../static/jquery.js"></script>
  </head>
  <body>
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page" id="guonei">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
{#                <a class="icon icon-me pull-left open-panel"></a>#}
                <a href="/add/" external><h1 class="button">添加</h1></a>
            </header>

            <!-- 工具栏 -->
            <nav class="bar bar-tab">
                <a class="tab-item external active">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">国内</span>
                </a>
                <div class="tab-item external">
                    <a href="#guowai" style="color:darkgray;">
                        <span class="icon icon-download"></span>
                        <span class="tab-label">国外</span>
                    </a>
                </div>
            </nav>

            <!-- 这里是页面内容区 -->
            <div class="content">
                {% for website in websites %}
                    {% ifequal website.is_foreign 0 %}
                        <div class="card">
                            <div class="card-content">
                              <div class="list-block">
                                <ul>
                                  <li>
                                    <a href="{{ website.url }}" class="item-link item-content">
                                      <div class="item-media"><i class="icon icon-f7"></i></div>
                                      <div class="item-inner">
                                        <div class="item-title">{{ website.comment }}</div>
                                      </div>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                      </div>
                    {% endifequal %}
                {% endfor %}
            </div>
        </div>

        <div class="page" id="guowai">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
{#                <a class="icon icon-me pull-left open-panel"></a>#}
                <a href="/add/" external><h1 class="button">添加</h1></a>
            </header>

            <!-- 工具栏 -->
            <nav class="bar bar-tab">
                <div class="tab-item external">
                    <a href="#guonei" style="color:darkgray;">
                        <span class="icon icon-home" ></span>
                        <span class="tab-label">国内</span>
                    </a>
                </div>
                <a class="tab-item external active">
                    <span class="icon icon-download"></span>
                    <span class="tab-label">国外</span>
                </a>
            </nav>

            <!-- 这里是页面内容区 -->
            <div class="content">
                {% for website in websites %}
                    {% ifequal website.is_foreign 1 %}
                        <div class="card">
                            <div class="card-content">
                              <div class="list-block">
                                <ul>
                                  <li>
                                    <a href="{{ website.url }}" class="item-link item-content">
                                      <div class="item-media"><i class="icon icon-f7"></i></div>
                                      <div class="item-inner">
                                        <div class="item-title">{{ website.comment }}</div>
                                      </div>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                      </div>
                    {% endifequal %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->
    <script>
        $.init();
        $("#url_type").picker({
  toolbarTemplate: '<header class="bar bar-nav">\
  <button class="button button-link pull-left">按钮</button>\
  <button class="button button-link pull-right close-picker">确定</button>\
  <h1 class="title">标题</h1>\
  </header>',
  cols: [
    {
      textAlign: 'center',
      values: ['iPhone 4', 'iPhone 4S', 'iPhone 5', 'iPhone 5S', 'iPhone 6', 'iPhone 6 Plus', 'iPad 2', 'iPad Retina', 'iPad Air', 'iPad mini', 'iPad mini 2', 'iPad mini 3']
    }
  ]
});
    </script>
  </body>
</html>